version: '3.8'

services:
  pump_monitor:
    build: .
    container_name: icl_monitor_service
    restart: always
    env_file: .env
    volumes:
      - /etc/icl/certs:/app/certs:ro  # Монтируем сертификаты с хоста
      - ./logs:/app/logs              # Чтобы логи сохранялись на диске
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"