name: Python CI/CD Pipeline

on:
  push:
    branches: [ main ]  # Запускать при каждом push в ветку main
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Pytest
        run: |
          export PYTHONPATH=$PYTHONPATH:.
          pytest tests/ -v

  docker-build:
    needs: test  # Сборка начнется только если тесты прошли
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker Image
        run: |
          docker build -t pump-analytics:latest .